<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Orders Placed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    </head>

    <body>
        <p> Your order has been successfully <strong>placed</strong>.</p>
        <p>Placed items are as following -</p>
        <div class="row">
            <table style="border: 1px solid black;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="border: 1px solid black; border-collapse: collapse;">Sr No. </th>
                        <th style="border: 1px solid black; border-collapse: collapse;">Item </th>
                        <th style="border: 1px solid black; border-collapse: collapse;">Quantity Supplied </th>
                    </tr>
                </thead>
                <tbody>
                    <% ordersProcessed.forEach((item,i)=> {%>
                    <tr>
                        <td style="border: 1px solid black; border-collapse: collapse;">
                            <%= (i + 1) %>
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse;">
                            <%= item.name %>
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse;">
                            <%= item.qty %>
                        </td>
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </div>

        <p>Please click <a href="https://consumables.herokuapp.com/dashboard">here</a> to view more options.</p>

        <p>Manish Kumar</p>
        <p>Pic consumables</p>
        <p>IIT Patna</p>
    </body>
</html>